<section class="header">
    <section class="logo-side">
      <img src="/assets/th-Photoroom.png" alt="logo" class="logo-image" />
    </section>
    <section class="nav-bar">
      <nav>
        <ul class="nav-links">
          <li><a routerLink="/">Inicio</a></li>
          <li><a routerLink="/about">Sobre nosotros</a></li>
          <li><a routerLink="/products">Productos</a></li>
          <li><a routerLink="/contact">Contacto</a></li>
        </ul>
      </nav>
    </section>
    <section *ngIf="isLoggedIn" class="burger-menu">
      <button class="burger-button" (click)="toggleMenu()">☰</button>
      <nav class="burger-nav" [ngClass]="{ show: menuVisible }">
        <ul>
          <li><a routerLink="/profile-settings">Editar perfil</a></li>
          <li *ngIf="isOwner"><a routerLink="/owner-filtering">Gestion de propiedades</a></li>
          <li><button (click)="logout()">Cerrar sesión</button></li>
        </ul>
      </nav>
    </section>
    <section *ngIf="!isLoggedIn" class="auth-buttons">
      <button class="btn-sign-in" [routerLink]='["/sign-in"]'>iniciar</button>
      <button class="btn-log-in" [routerLink]='["/sign-up"]'>registrarse</button>
    </section>
  </section>