* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
    display: flex;
    flex-direction: column;
}

app-root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#content {
    flex: 1; /* This will make the content area take up the remaining space */
}